.comments__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
    padding: 20px 5px;
}

.comments__parent {
  font-size: 14px;
}
.comments__parent p {
    line-height: normal;
    margin: 0;
    padding: 5px 0;
    text-indent: 10px;
}

.comments__parent p:first-letter {
    line-height: 1;
    text-transform: capitalize;
}

.comments__back {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
pre {
  margin: 0;
}
.comments__by {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
}

.comments__time {
  margin: 0;
}
.comments__children {
  padding-left: 60px;
  font-size: 12px;
}

.comments__info {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}